.comp{
  width: 100%;
  max-width: 1000px;
  margin: 1em auto;
  border-radius: 10px;
  padding: 1em 3em;
  -webkit-box-shadow: 0px 0px 17px 0px rgba(186,186,186,1);
  -moz-box-shadow: 0px 0px 17px 0px rgba(186,186,186,1);
  box-shadow: 0px 0px 17px 0px rgba(186,186,186,1);
}